{% extends 'base.html.twig' %}

{% block title %}Nouvelle option{% endblock %}

{% block body %}
    <div class="container mt-4">
    <h2>Création d'options</h2>
       {{ include ('admin/option/_form.html.twig', {button: 'Créer'}) }}
    </div>
    
{% endblock %}
